.heading {
    font-size: 2rem;
}

.form-label {
    font-weight: 600;
}

hr.style { 
    height: 10px;
	border: 0;
	box-shadow: 0 10px 10px -10px #8c8b8b inset;
}

.footer-padding {
	padding-bottom: 60px;
}

footer {
	position: fixed;
	text-align: center;
	bottom: 0;
	width: 100%;
	height: 30px;
	background-color: #212529;
}

footer p {
	margin-top: 3px;
	font-size: 16px;
    color: #fff;
}